

.introduction {
    display : flex;
    align-items : center;
    justify-content: center;
    margin : 0px 5% 50px 5%;
    gap : 50px;

    .introduction-content{
        width : 500px;
    }

    .introduction-image{
        

        img{
            width : 100px;
            border-radius: 50%;

            @media (max-width: 500px){
                display : none;
            }
        }
    }
}